@charset "UTF-8";
/* ----- Imports -----*/
/*Tipografia: Montserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap");
/*Sass*/
/* ----- Paleta de colores -----*/
/* ----- Fuentes tipográficas y grosores----- */
/* ----- Tamaños en pixeles y porcentajes -----*/
/*En pixeles*/
/*En porcentajes*/
/* ----- Algunos urls -----*/
/* ----- Mixin para grillas en css ----- */
/* ----- Mixin para imagenes de fondo en css ----- */
/* ----- Mixin para titulo principal ----- */
/* ----- Mixin para imagenes de grillas ----- */
/* ----- Mixin imagenes de banda en Servicios ----- */
/* ----- Mixin textos destacados ----- */
/* Reseteo de valores */
* {
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

/* ---- HEADER ----*/
header {
  background-color: #E5E5E3;
}
header .logoBiMozHeader {
  width: 35px;
  height: 35px;
}
header ul a {
  border-radius: 19px 19px 19px 19px;
}
header ul a:hover {
  background-color: #FBE7AA;
  box-shadow: 8px 6px 17px -7px rgba(96, 96, 96, 0.78);
  font-weight: 500;
}

/* ---- INDEX ----*/
.mainIndex {
  background-color: #FAFAF9;
  /* ---- Video de encabezado ----*/
  /* ---- grilla Sobre Mi ----*/
  /*---- Tarjetas ---- */
}
.mainIndex .video {
  background-color: #FBE7AA;
  object-fit: cover;
}
.mainIndex .seccionSobreMi {
  width: 75%;
}
.mainIndex .seccionSobreMi .contenedorSobreMi {
  margin: 30px auto;
  flex-wrap: nowrap;
  flex-direction: row;
}
.mainIndex .seccionSobreMi .contenedorSobreMi .izquierdaSobreMi {
  width: 45%;
  justify-content: center;
}
.mainIndex .seccionSobreMi .contenedorSobreMi .izquierdaSobreMi .tituloSobreMi {
  border-bottom: 7px solid #343434;
  font-weight: 900;
  color: #343434;
}
.mainIndex .seccionSobreMi .contenedorSobreMi .izquierdaSobreMi picture .fotoSobreMi {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.mainIndex .seccionSobreMi .contenedorSobreMi .textoSobreMi {
  margin: 0 auto;
  margin-left: 20px;
  width: 45%;
  height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.mainIndex .seccionTarjetas {
  background-color: #E6E8EA;
}
.mainIndex .seccionTarjetas .contenedorTarjetas {
  width: 85%;
}
.mainIndex .seccionTarjetas .contenedorTarjetas .Tarjetas {
  width: 75%;
  margin: 50px 50px;
  border-radius: 16px 16px 16px 16px;
}
.mainIndex .seccionTarjetas a {
  text-decoration: none;
  color: #343434;
}
.mainIndex .seccionTarjetas h2 {
  font-weight: 700;
  font-size: 1.7rem;
  color: #343434;
}

/* ---- Responsive ----*/
@media (max-width: 480px) {
  .mainIndex #myVideo {
    width: 100%;
    height: 100%;
  }
  .mainIndex .seccionSobreMi {
    width: 90%;
  }
  .mainIndex .seccionSobreMi .contenedorSobreMi {
    flex-direction: column;
  }
  .mainIndex .seccionSobreMi .contenedorSobreMi .izquierdaSobreMi {
    width: 100%;
  }
  .mainIndex .seccionSobreMi .contenedorSobreMi .izquierdaSobreMi .fotoSobreMi {
    margin-bottom: 30px;
  }
  .mainIndex .seccionSobreMi .contenedorSobreMi .textoSobreMi {
    width: 100%;
    margin: 0 auto;
  }
  .mainIndex .seccionTarjetas .contenedorTarjetas {
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 50px;
    width: 85%;
  }
  .mainIndex .seccionTarjetas .contenedorTarjetas .Tarjetas {
    width: 100%;
    margin: 0 auto;
  }
  .mainIndex .seccionTarjetas .contenedorTarjetas h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 481px) and (max-width: 1100px) {
  /*----- MAIN -----*/
  .mainIndex #myVideo {
    width: 100%;
    height: 50vh;
  }
  .mainIndex .seccionSobreMi {
    width: 75%;
  }
  .mainIndex .seccionSobreMi .contenedorSobreMi {
    flex-direction: column;
  }
  .mainIndex .seccionSobreMi .contenedorSobreMi .izquierdaSobreMi {
    width: 100%;
  }
  .mainIndex .seccionSobreMi .contenedorSobreMi .izquierdaSobreMi .fotoSobreMi {
    margin-bottom: 30px;
  }
  .mainIndex .seccionSobreMi .contenedorSobreMi .textoSobreMi {
    width: 100%;
    margin: 0 auto;
  }
  .mainIndex .seccionTarjetas .contenedorTarjetas {
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 50px;
    width: 75%;
  }
  .mainIndex .seccionTarjetas .contenedorTarjetas .Tarjetas {
    width: 100%;
    margin: 0 auto;
  }
  .mainIndex .seccionTarjetas .contenedorTarjetas .Tarjetas a {
    display: flex;
    flex-direction: row;
  }
  .mainIndex .seccionTarjetas .contenedorTarjetas .Tarjetas a img {
    width: 50%;
  }
  .mainIndex .seccionTarjetas .contenedorTarjetas .Tarjetas a .textoTarjeta {
    width: 50%;
  }
  .mainIndex .seccionTarjetas .contenedorTarjetas .Tarjetas a .textoTarjeta h2 {
    font-size: 1.5rem;
  }
}
/* ---- CONTACTAME ----*/
.mainContactame .encabezadoContactame {
  background-image: url("../assets/img/contactame_encabezado.webp");
  background-position: center;
  background-size: 50%;
  background-color: #FBE7AA;
  background-repeat: no-repeat;
}
.mainContactame .encabezadoContactame h1 {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10vh;
  font-weight: 300;
  color: #5B574B;
  font-size: 3rem;
}
.mainContactame .encabezadoContactame h1 span {
  font-weight: 900;
}
.mainContactame .encabezadoContactame h1 .bBlanco {
  color: #FAFAF9;
}
.mainContactame .encabezadoContactame h1 .bNegro {
  color: #343434;
}
.mainContactame h2 {
  color: #343434;
  font-size: 2rem;
  margin-bottom: 25px;
  font-weight: 700;
  border-bottom: 7px solid #343434;
  width: 75%;
}
.mainContactame .contenedorMapamundi {
  padding: 3rem;
}
.mainContactame .contenedorMapamundi .mapamundi {
  width: 75%;
}
.mainContactame .actualidad {
  background-color: #E6E8EA;
  padding: 3rem;
}
.mainContactame .actualidad .elementosActualidad {
  width: 75%;
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad {
  width: 50%;
  margin: 0 auto;
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad p {
  flex-wrap: wrap;
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad h3 {
  color: #e3b53c;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 700;
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad .mapa {
  width: 80%;
  height: 70%;
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad .formContactame .inputsRow1 {
  width: 49%;
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad .formContactame .botonForm {
  background-color: #FBE7AA;
  border: 0;
  color: #343434;
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad .formContactame input {
  background-color: #FAFAF9;
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad .formContactame input::placeholder {
  font-size: 0.8rem;
  color: #343434;
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad .formContactame input:focus {
  background-color: #FBE7AA;
  border-color: #343434;
  box-shadow: 0 0 13px 0.1rem rgba(52, 52, 52, 0.25);
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad .formContactame input[type=email]:not(:placeholder-shown):invalid {
  border: 0.1rem solid tomato;
  background: mistyrose;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad .formContactame textarea {
  background-color: #FAFAF9;
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad .formContactame textarea::placeholder {
  font-size: 0.8rem;
  color: #343434;
}
.mainContactame .actualidad .elementosActualidad .sectorElementosActualidad .formContactame textarea:focus {
  background-color: #FBE7AA;
  border-color: #343434;
  box-shadow: 0 0 13px 0.1rem rgba(52, 52, 52, 0.25);
}

/* ---- Responsive ----*/
@media (max-width: 480px) {
  /*----- Contactame -----*/
  .mainContactame .encabezadoContactame {
    background-size: 100%;
  }
  .mainContactame .encabezadoContactame h1 {
    height: 35vh;
    padding-bottom: 5vh;
    font-size: 1.2rem;
  }
  .mainContactame .contenedorMapamundi {
    padding: 2rem 1rem;
  }
  .mainContactame .contenedorMapamundi .mapamundi {
    width: 90%;
    height: 30vh;
  }
  .mainContactame h2 {
    width: 90%;
    margin-top: 50px;
  }
  .mainContactame .actualidad {
    padding: 2rem 1rem;
  }
  .mainContactame .actualidad .elementosActualidad {
    width: 90%;
    flex-direction: column;
  }
  .mainContactame .actualidad .elementosActualidad .sectorElementosActualidad {
    width: 100%;
  }
  .mainContactame .actualidad .elementosActualidad .sectorElementosActualidad .mapa {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 481px) and (max-width: 1100px) {
  .mainContactame .encabezadoContactame {
    background-size: 100%;
  }
  .mainContactame .encabezadoContactame h1 {
    height: 35vh;
    padding-bottom: 5vh;
    font-size: 1.8rem;
  }
  .mainContactame h2 {
    width: 90%;
  }
  .mainContactame .contenedorMapamundi .mapamundi {
    width: 90%;
  }
  .mainContactame .actualidad .elementosActualidad {
    width: 90%;
  }
}
/* ---- SERVICIOS ---- */
.mainServicios h1 {
  font-weight: 900;
  color: #5B574B;
  font-size: 3rem;
}
.mainServicios h2 {
  font-weight: 700;
  color: #5B574B;
  font-size: 2rem;
  margin: 2rem;
}
.mainServicios .video {
  background-color: #c9c9cb;
}
.mainServicios .video video {
  object-fit: cover;
  height: auto;
  width: 100%;
}
.mainServicios .morfologia {
  background-color: #FBE7AA;
  width: 100%;
}
.mainServicios .morfologia .imagenBanda1 {
  width: 16.6%;
  height: auto;
  object-fit: contain;
}
.mainServicios .morfologia .grillaMorfologia {
  width: 100%;
}
.mainServicios .morfologia .grillaMorfologia .grilla1Morfo {
  width: 100%;
}
.mainServicios .morfologia .grillaMorfologia .grilla1Morfo .imagen {
  width: 25%;
}
.mainServicios .morfologia .grillaMorfologia .grilla1Morfo .texto {
  color: #5B574B;
}
.mainServicios .morfologia .grillaMorfologia .grilla1Morfo .texto b {
  color: #f2a42e;
}
.mainServicios .morfologia .grillaMorfologia .grilla2Morfo {
  width: 60%;
}
.mainServicios .morfologia .imagenBanda2 {
  width: 12.5%;
  height: auto;
  object-fit: contain;
}
.mainServicios .disFuncional {
  background-color: #E5E5E3;
  width: 100%;
}
.mainServicios .disFuncional .imagen1 {
  width: 30%;
  height: auto;
  object-fit: contain;
}
.mainServicios .disFuncional .imagen2 {
  width: 40%;
  height: auto;
  object-fit: contain;
}
.mainServicios .disFuncional .imagen3 {
  width: 30%;
  height: auto;
  object-fit: contain;
}
.mainServicios .disFuncional .estante img {
  object-fit: cover;
  width: auto;
  height: 47vh;
}
.mainServicios .renders {
  width: 100%;
}
.mainServicios .renders .contenedorArquitecturaBanda .arquitecturaBanda {
  object-fit: cover;
  width: 25%;
}
.mainServicios .renders .contenedorFreddo .contenedorImagenesFreddo {
  width: 50%;
}
.mainServicios .renders .contenedorFreddo .contenedorImagenesFreddo .freddo {
  object-fit: cover;
  height: 31vh;
  width: 50%;
}
.mainServicios .renders .contenedorFreddo .textoRenders {
  width: 50%;
}
.mainServicios .renders .edificios .textoEdificios {
  width: 50%;
}
.mainServicios .renders .edificios .contenedorEdificiosImagenes {
  width: 50%;
}
.mainServicios .renders .edificios .contenedorEdificiosImagenes .arq {
  object-fit: cover;
  height: auto;
}

/* ---- Responsives ----- */
@media (max-width: 480px) {
  .mainServicios #myVideo {
    width: 100%;
    height: 100%;
  }
  .mainServicios h1 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
  }
  .mainServicios h2 {
    font-size: 1.5rem;
  }
  .mainServicios .morfologia .contenedorMorfoBanda1 {
    flex-wrap: wrap;
  }
  .mainServicios .morfologia .contenedorMorfoBanda1 .imagenBanda1 {
    width: 33%;
    height: auto;
    object-fit: contain;
  }
  .mainServicios .morfologia .grillaMorfologia {
    flex-direction: column;
  }
  .mainServicios .morfologia .grillaMorfologia .grilla1Morfo .imagen {
    width: 50%;
  }
  .mainServicios .morfologia .grillaMorfologia .grilla2Morfo {
    width: 85%;
  }
  .mainServicios .morfologia .imagenBanda2 {
    width: 25%;
    height: auto;
    object-fit: contain;
  }
  .mainServicios .disFuncional {
    width: 100%;
  }
  .mainServicios .disFuncional .estante {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mainServicios .disFuncional .estante .im1, .mainServicios .disFuncional .estante .im2 {
    width: 50%;
    height: auto;
  }
  .mainServicios .disFuncional .estante .im3, .mainServicios .disFuncional .estante .im4 {
    width: 100%;
    height: auto;
  }
  .mainServicios .renders .contenedorArquitecturaBanda {
    display: flex;
    flex-wrap: wrap;
  }
  .mainServicios .renders .contenedorArquitecturaBanda .arquitecturaBanda {
    width: 50%;
  }
  .mainServicios .renders .contenedorFreddo {
    width: 100%;
    flex-direction: column-reverse;
  }
  .mainServicios .renders .contenedorFreddo .contenedorImagenesFreddo {
    width: 100%;
    margin-bottom: 50px;
    flex-direction: column;
  }
  .mainServicios .renders .contenedorFreddo .contenedorImagenesFreddo .freddo {
    width: 100%;
  }
  .mainServicios .renders .contenedorFreddo .textoRenders {
    width: 100%;
  }
  .mainServicios .renders .edificios {
    display: flex;
    flex-direction: column;
  }
  .mainServicios .renders .edificios .textoEdificios {
    width: 100%;
  }
  .mainServicios .renders .edificios .contenedorEdificiosImagenes {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 1100px) {
  .mainServicios #myVideo {
    width: 100%;
    height: 100%;
  }
  .mainServicios h1 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
  }
  .mainServicios .morfologia .grillaMorfologia {
    flex-direction: column;
  }
  .mainServicios .morfologia .grillaMorfologia .grilla1Morfo .imagen {
    width: 25%;
  }
  .mainServicios .morfologia .grillaMorfologia .grilla2Morfo {
    width: 75%;
  }
  .mainServicios .disFuncional {
    width: 100%;
  }
  .mainServicios .disFuncional .estante {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
  }
  .mainServicios .disFuncional .estante .im1, .mainServicios .disFuncional .estante .im2 {
    width: 50%;
    height: auto;
  }
  .mainServicios .disFuncional .estante .im3 {
    width: 60%;
    height: auto;
  }
  .mainServicios .disFuncional .estante .im4 {
    width: 40%;
    height: auto;
  }
  .mainServicios .renders .contenedorFreddo {
    width: 100%;
    flex-direction: column-reverse;
  }
  .mainServicios .renders .contenedorFreddo .contenedorImagenesFreddo {
    width: 100%;
    margin-bottom: 50px;
  }
  .mainServicios .renders .contenedorFreddo .contenedorImagenesFreddo .freddo {
    width: 50%;
  }
  .mainServicios .renders .contenedorFreddo .textoRenders {
    width: 100%;
  }
  .mainServicios .renders .edificios {
    display: flex;
    flex-direction: column;
  }
  .mainServicios .renders .edificios .textoEdificios {
    width: 100%;
  }
  .mainServicios .renders .edificios .contenedorEdificiosImagenes {
    width: 100%;
  }
}
/* ----- DESTACADOS -----*/
.mainDestacados .encabezadoDestacados {
  background-image: url("../assets/img/contactame_encabezado.webp");
  background-position: center;
  background-size: 50%;
  background-color: #FBE7AA;
  background-repeat: no-repeat;
}
.mainDestacados .encabezadoDestacados h1 {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 9vh;
  font-weight: 300;
  color: #5B574B;
  font-size: 3rem;
}
.mainDestacados .encabezadoDestacados h1 span {
  font-weight: 900;
}
.mainDestacados .encabezadoDestacados h1 .bBlanco {
  color: #FAFAF9;
}
.mainDestacados .encabezadoDestacados h1 .bNegro {
  color: #343434;
}
.mainDestacados h2 {
  font-size: 5rem;
  font-weight: 900;
  color: #080808;
}
.mainDestacados .cueros {
  background-color: #c9c9cb;
}
.mainDestacados .cueros b {
  color: #f2a42e;
}
.mainDestacados .cueros .cuerosContenedor {
  width: 85%;
  margin: 0 auto;
  /*--- grilla 1 cueros ---*/
  /*--- grilla 2 cueros ---*/
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  grid-template-areas: "imagenCueros1 imagenCueros2 imagenCueros3 imagenCueros3 imagenCueros4" "cueros cueros imagenCueros3 imagenCueros3 imagenCueros5";
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla1 img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla1 .imagenCueros1 {
  grid-area: imagenCueros1;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla1 .imagenCueros2 {
  grid-area: imagenCueros2;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla1 .imagenCueros3 {
  grid-area: imagenCueros3;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla1 .imagenCueros4 {
  grid-area: imagenCueros4;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla1 .imagenCueros5 {
  grid-area: imagenCueros5;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla1 .tituloCueros {
  grid-area: cueros;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas: "imagen6 imagen6 imagen7 imagen8 imagen9 imagen10 imagen10" "imagen6 imagen6 texto2 texto2 texto2 imagen10 imagen10" "imagen6 imagen6 texto2 texto2 texto2 imagen10 imagen10";
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 .textoCueros {
  padding: 15px;
  font-weight: 300;
  font-size: 1rem;
  grid-area: texto2;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 .imagenCueros6 {
  grid-area: imagen6;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 .imagenCueros7 {
  grid-area: imagen7;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 .imagenCueros8 {
  grid-area: imagen8;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 .imagenCueros9 {
  grid-area: imagen9;
}
.mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 .imagenCueros10 {
  grid-area: imagen10;
}
.mainDestacados .ypf .guardaYPF1 {
  width: 85%;
}
.mainDestacados .ypf .guardaYPF1 .ypfBanda {
  width: 24.3%;
  height: auto;
  object-fit: contain;
}
.mainDestacados .ypf .grillaYPF1 {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas: "imagen1 imagen1 imagen2 imagen3 imagen4 imagen5 imagen6" "imagen1 imagen1 texto texto texto imagen5 imagen6" "imagen1 imagen1 texto texto texto imagen5 imagen6";
}
.mainDestacados .ypf .grillaYPF1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.mainDestacados .ypf .grillaYPF1 .tituloYPF {
  grid-area: texto;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainDestacados .ypf .grillaYPF1 .imagenYPF1 {
  grid-area: imagen1;
}
.mainDestacados .ypf .grillaYPF1 .imagenYPF2 {
  grid-area: imagen2;
}
.mainDestacados .ypf .grillaYPF1 .imagenYPF3 {
  grid-area: imagen3;
}
.mainDestacados .ypf .grillaYPF1 .imagenYPF4 {
  grid-area: imagen4;
}
.mainDestacados .ypf .grillaYPF1 .imagenYPF5 {
  grid-area: imagen5;
}
.mainDestacados .ypf .grillaYPF1 .imagenYPF6 {
  grid-area: imagen6;
}
.mainDestacados .ypf .grillaYPF2 {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
  grid-template-areas: "im1 im1 im1 im3 im3 im3 im3 im5 im5 ." "im1 im1 im1 im3 im3 im3 im3 im5 im5 ." "im1 im1 im1 txt txt txt txt im5 im5 ." "im1 im1 im1 txt txt txt txt . im6 im6" "im2 im2 im2 txt txt txt txt . im6 im6" "im2 im2 im2 txt txt txt txt . im6 im6" "im2 im2 im2 im4 im4 im4 im4 im7 im7 im7" "im2 im2 im2 im4 im4 im4 im4 im7 im7 im7";
}
.mainDestacados .ypf .grillaYPF2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.mainDestacados .ypf .grillaYPF2 .textoYPF {
  padding: 2rem;
  font-weight: 300;
  font-size: 1rem;
  grid-area: txt;
}
.mainDestacados .ypf .grillaYPF2 .ypfEstacion1 {
  grid-area: im1;
}
.mainDestacados .ypf .grillaYPF2 .ypfEstacion2 {
  grid-area: im2;
}
.mainDestacados .ypf .grillaYPF2 .ypfEstacion1691 {
  grid-area: im3;
}
.mainDestacados .ypf .grillaYPF2 .ypfEstacion1692 {
  grid-area: im4;
}
.mainDestacados .ypf .grillaYPF2 .ypfDispensador1 {
  grid-area: im5;
}
.mainDestacados .ypf .grillaYPF2 .ypfDispensador2 {
  grid-area: im6;
}
.mainDestacados .ypf .grillaYPF2 .ypfCarteles {
  grid-area: im7;
}
.mainDestacados hr {
  color: #f5c126;
  margin-bottom: 0;
}
.mainDestacados .lineaReciclaje .grillaReciclaje1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0;
  grid-template-areas: "im1 im1 im1 im1 im1 im1 im1 .   im2 im2 im3 im3 im4 im4" "im1 im1 im1 im1 im1 im1 im1 .   .   .   ttl ttl .   .  " "im1 im1 im1 im1 im1 im1 im1 .   im5 im5 im5 im7 im7 im7" "im1 im1 im1 im1 im1 im1 im1 .   im5 im5 im5 im7 im7 im7" "im1 im1 im1 im1 im1 im1 im1 .   im6 im6 im6 im7 im7 im7" ".   .   .   .   .   .   .   .   im6 im6 im6 im7 im7 im7" ".   .   .   .   .   .   .   .   .   .   .   .   .   .  ";
}
.mainDestacados .lineaReciclaje .grillaReciclaje1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.mainDestacados .lineaReciclaje .grillaReciclaje1 .tituloReciclaje {
  grid-area: ttl;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.mainDestacados .lineaReciclaje .grillaReciclaje1 .im1 {
  grid-area: im1;
  height: auto;
}
.mainDestacados .lineaReciclaje .grillaReciclaje1 .im2 {
  grid-area: im2;
}
.mainDestacados .lineaReciclaje .grillaReciclaje1 .im3 {
  grid-area: im3;
}
.mainDestacados .lineaReciclaje .grillaReciclaje1 .im4 {
  grid-area: im4;
}
.mainDestacados .lineaReciclaje .grillaReciclaje1 .im5 {
  grid-area: im5;
  height: auto;
  align-self: flex-end;
}
.mainDestacados .lineaReciclaje .grillaReciclaje1 .im6 {
  grid-area: im6;
  height: auto;
  align-self: flex-start;
}
.mainDestacados .lineaReciclaje .grillaReciclaje1 .im7 {
  grid-area: im7;
}
.mainDestacados .lineaReciclaje .contenedorTextoReciclaje img {
  width: 50%;
  height: auto;
}
.mainDestacados .lineaReciclaje .contenedorTextoReciclaje .textoReciclaje {
  padding: 0;
  font-weight: 300;
  font-size: 1rem;
  width: 50%;
}
.mainDestacados .lineaReciclaje .grillaReciclaje2 {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  grid-template-areas: "im1 im2 im5 im5" "im3 im4 im5 im5";
}
.mainDestacados .lineaReciclaje .grillaReciclaje2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.mainDestacados .lineaReciclaje .grillaReciclaje2 .im1 {
  grid-area: im1;
}
.mainDestacados .lineaReciclaje .grillaReciclaje2 .im2 {
  grid-area: im2;
}
.mainDestacados .lineaReciclaje .grillaReciclaje2 .im3 {
  grid-area: im3;
}
.mainDestacados .lineaReciclaje .grillaReciclaje2 .im4 {
  grid-area: im4;
}
.mainDestacados .lineaReciclaje .grillaReciclaje2 .im5 {
  grid-area: im5;
}

/* ---- Responsives ----- */
@media (max-width: 480px) {
  .mainDestacados .encabezadoDestacados {
    background-size: 100%;
  }
  .mainDestacados .encabezadoDestacados h1 {
    height: 35vh;
    font-size: 1.5rem;
  }
  .mainDestacados h2 {
    font-size: 4rem;
  }
  .mainDestacados .cueros .cuerosContenedor {
    width: 90%;
  }
  .mainDestacados .cueros .cuerosContenedor .cuerosGrilla1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    grid-template-areas: "imagenCueros1 imagenCueros2" "imagenCueros4 imagenCueros5" "cueros cueros" "imagenCueros3 imagenCueros3" "imagenCueros3 imagenCueros3";
  }
  .mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1rem;
    grid-template-areas: "imagen7 imagen7 imagen8 imagen8 imagen9 imagen9" "texto2 texto2 texto2 texto2 texto2 texto2" "texto2 texto2 texto2 texto2 texto2 texto2" "texto2 texto2 texto2 texto2 texto2 texto2" "texto2 texto2 texto2 texto2 texto2 texto2" "imagen6 imagen6 imagen6 imagen10 imagen10 imagen10" "imagen6 imagen6 imagen6 imagen10 imagen10 imagen10";
  }
  .mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .mainDestacados .ypf .guardaYPF1 {
    width: 90%;
    flex-wrap: wrap;
  }
  .mainDestacados .ypf .guardaYPF1 .ypfBanda {
    width: 44.3%;
  }
  .mainDestacados .ypf .grillaYPF1 {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1rem;
    grid-template-areas: "imagen2 imagen2 imagen3 imagen3 imagen4 imagen4" "texto texto texto texto texto texto" "texto texto texto texto texto texto" "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1" "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1" "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1" "imagen5 imagen5 imagen5 imagen6 imagen6 imagen6" "imagen5 imagen5 imagen5 imagen6 imagen6 imagen6" "imagen5 imagen5 imagen5 imagen6 imagen6 imagen6";
  }
  .mainDestacados .ypf .grillaYPF1 img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .mainDestacados .ypf .grillaYPF2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1rem;
    grid-template-areas: "im3 im3 im3 im3 im3 im3 im3 im3 im3 im3 im3 im3" "txt txt txt txt txt txt txt txt txt txt txt txt" "txt txt txt txt txt txt txt txt txt txt txt txt" "txt txt txt txt txt txt txt txt txt txt txt txt" "txt txt txt txt txt txt txt txt txt txt txt txt" "txt txt txt txt txt txt txt txt txt txt txt txt" "im4 im4 im4 im4 im4 im4 im4 im4 im4 im4 im4 im4" "im1 im1 im1 im1 im1 im1 im2 im2 im2 im2 im2 im2" "im5 im5 im5 im5 im5 im5 im6 im6 im6 im6 im6 im6" "im7 im7 im7 im7 im7 im7 im7 im7 im7 im7 im7 im7";
  }
  .mainDestacados .ypf .grillaYPF2 img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .mainDestacados .lineaReciclaje .grillaReciclaje1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 0;
    grid-template-areas: "im2 im2 im3 im3 im4 im4" "im1 im1 im1 ttl ttl ttl" "im1 im1 im1 ttl ttl ttl" "im5 im5 im5 im7 im7 im7" "im5 im5 im5 im7 im7 im7" "im6 im6 im6 im7 im7 im7" "im6 im6 im6 im7 im7 im7";
  }
  .mainDestacados .lineaReciclaje .grillaReciclaje1 .tituloReciclaje {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainDestacados .lineaReciclaje .contenedorTextoReciclaje {
    flex-direction: column-reverse;
    width: 100%;
  }
  .mainDestacados .lineaReciclaje .contenedorTextoReciclaje img, .mainDestacados .lineaReciclaje .contenedorTextoReciclaje .textoReciclaje {
    width: 100%;
  }
  .mainDestacados .lineaReciclaje .grillaReciclaje2 {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    grid-template-areas: "im1 im2" "im3 im4" "im5 im5" "im5 im5";
  }
}
@media (min-width: 481px) and (max-width: 1100px) {
  .mainDestacados .encabezadoDestacados {
    background-size: 100%;
  }
  .mainDestacados .encabezadoDestacados h1 {
    height: 45vh;
    font-size: 3rem;
  }
  .mainDestacados .cueros .cuerosContenedor .cuerosGrilla1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    grid-template-areas: "imagenCueros1 imagenCueros2" "cueros cueros" "imagenCueros4 imagenCueros5" "imagenCueros3 imagenCueros3" "imagenCueros3 imagenCueros3";
  }
  .mainDestacados .cueros .cuerosContenedor .cuerosGrilla1 h2 {
    font-size: 9rem;
  }
  .mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    grid-template-areas: "imagen7 imagen7 imagen8 imagen8 imagen9 imagen9" "texto2 texto2 texto2 texto2 texto2 texto2" "imagen6 imagen6 imagen6 imagen10 imagen10 imagen10" "imagen6 imagen6 imagen6 imagen10 imagen10 imagen10";
  }
  .mainDestacados .cueros .cuerosContenedor .cuerosGrilla2 img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .mainDestacados .ypf .guardaYPF1 {
    width: 90%;
    flex-wrap: wrap;
  }
  .mainDestacados .ypf .guardaYPF1 .ypfBanda {
    width: 44.3%;
  }
  .mainDestacados .ypf .grillaYPF1 {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
    grid-template-areas: "imagen2 imagen2 imagen3 imagen3 imagen4 imagen4" "texto texto texto texto texto texto" "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1" "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1" "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1" "imagen5 imagen5 imagen5 imagen6 imagen6 imagen6" "imagen5 imagen5 imagen5 imagen6 imagen6 imagen6" "imagen5 imagen5 imagen5 imagen6 imagen6 imagen6";
  }
  .mainDestacados .ypf .grillaYPF1 img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .mainDestacados .ypf .grillaYPF2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1rem;
    grid-template-areas: "im3 im3 im3 im3 im3 im3 im3 im3 im3 im3 im3 im3" "txt txt txt txt txt txt txt txt txt txt txt txt" "txt txt txt txt txt txt txt txt txt txt txt txt" "im4 im4 im4 im4 im4 im4 im4 im4 im4 im4 im4 im4" "im1 im1 im1 im1 im1 im1 im2 im2 im2 im2 im2 im2" "im5 im5 im5 im5 im5 im5 im6 im6 im6 im6 im6 im6" "im5 im5 im5 im5 im5 im5 im6 im6 im6 im6 im6 im6" "im7 im7 im7 im7 im7 im7 im7 im7 im7 im7 im7 im7" "im7 im7 im7 im7 im7 im7 im7 im7 im7 im7 im7 im7";
  }
  .mainDestacados .ypf .grillaYPF2 img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .mainDestacados .lineaReciclaje .grillaReciclaje1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 0;
    grid-template-areas: "im2 im2 im3 im3 im4 im4" "im1 im1 im1 ttl ttl ttl" "im1 im1 im1 ttl ttl ttl" "im5 im5 im5 im7 im7 im7" "im5 im5 im5 im7 im7 im7" "im6 im6 im6 im7 im7 im7" "im6 im6 im6 im7 im7 im7";
  }
  .mainDestacados .lineaReciclaje .grillaReciclaje1 .tituloReciclaje {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainDestacados .lineaReciclaje .contenedorTextoReciclaje {
    flex-direction: column-reverse;
    width: 100%;
  }
  .mainDestacados .lineaReciclaje .contenedorTextoReciclaje img, .mainDestacados .lineaReciclaje .contenedorTextoReciclaje .textoReciclaje {
    width: 100%;
  }
  .mainDestacados .lineaReciclaje .grillaReciclaje2 {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    grid-template-areas: "im1 im2" "im3 im4" "im5 im5" "im5 im5";
  }
}
/* ---- ARTE ---- */
.mainMiArte .encabezado {
  height: 75vh;
  object-fit: contain;
}
.mainMiArte h1 {
  color: #080808;
  font-weight: 900;
  font-size: 3rem;
  padding: 0 3rem;
  margin: 2rem 0;
}
.mainMiArte .dibujos .dibujos1 .izqDib1 {
  width: 50%;
  background-color: #FBE7AA;
  padding-top: 20px;
}
.mainMiArte .dibujos .dibujos1 .izqDib1 h2 {
  color: #080808;
  font-weight: 700;
  font-size: 2rem;
  padding: 0;
  margin: 25px;
}
.mainMiArte .dibujos .dibujos1 .izqDib1 .guarda {
  width: 100%;
}
.mainMiArte .dibujos .dibujos1 .izqDib1 .guarda img {
  object-fit: cover;
  width: 33.32%;
  height: auto;
}
.mainMiArte .dibujos .dibujos1 .izqDib1 .grilla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  grid-template-areas: "im1 im2" "im1 im3";
}
.mainMiArte .dibujos .dibujos1 .izqDib1 .grilla img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.mainMiArte .dibujos .dibujos1 .izqDib1 .grilla .im1 {
  grid-area: im1;
}
.mainMiArte .dibujos .dibujos1 .izqDib1 .grilla .im2 {
  grid-area: im2;
}
.mainMiArte .dibujos .dibujos1 .izqDib1 .grilla .im3 {
  grid-area: im3;
}
.mainMiArte .dibujos .dibujos1 picture {
  width: 50%;
}
.mainMiArte .dibujos .separadorGris {
  height: 5vh;
  background-color: #c9c9cb;
}
.mainMiArte .dibujos .dibujos2 {
  position: relative;
}
.mainMiArte .dibujos .dibujos2 .tigreFondo {
  width: 90%;
}
.mainMiArte .dibujos .dibujos2 .tigreArriba {
  width: 30%;
  height: auto;
  position: absolute;
  top: 150px;
  right: 10px;
  border-radius: 100px 0px 0px 100px;
}
.mainMiArte .cuadros {
  width: 100%;
}
.mainMiArte .cuadros .contenedorCuadros1 .cuadros1 figure {
  width: 30%;
  padding: 1rem;
  background-color: #f2a42e;
}
.mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha {
  background-color: #E6E8EA;
  width: 70%;
  justify-content: flex-end;
}
.mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla {
  background-color: #E6E8EA;
  width: 75%;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  grid-template-areas: "im1 im1 ttl ttl" "im1 im1 im3 im4" "im1 im1 im3 im4" "im2 im2 im5 im5" "im2 im2 im5 im5" "im2 im2 im5 im5";
}
.mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla h2 {
  grid-area: ttl;
  font-weight: 700;
}
.mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla .im1 {
  grid-area: im1;
}
.mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla .im2 {
  grid-area: im2;
}
.mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla .im3 {
  grid-area: im3;
}
.mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla .im4 {
  grid-area: im4;
}
.mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla .im5 {
  grid-area: im5;
}
.mainMiArte .cuadros .cuadros2 {
  width: 100%;
  height: auto;
}
.mainMiArte .cuadros .cuadros2 .compo {
  width: 50%;
  position: relative;
}
.mainMiArte .cuadros .cuadros2 .compo .cuadroCompleto {
  width: 60%;
  height: auto;
  margin: auto;
  border: 10px solid #f5c126;
}
.mainMiArte .cuadros .cuadros2 .compo .cuadroDetalle {
  width: 30%;
  height: 30%;
  /* ----- Posicionar sobre el cuadro ----- */
  position: absolute;
  right: 7px;
  top: 20%;
  /* ----- Sombra ----- */
  border-radius: 50%;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.25);
}
.mainMiArte .cuadros .cuadros2 .cuadroCaballete {
  width: 50%;
  height: auto;
}
.mainMiArte .fotos {
  background-color: #FBE7AA;
}
.mainMiArte .fotos h2 {
  background-color: #c9c9cb;
  font-weight: 700;
}
.mainMiArte .fotos .guardaFotos {
  background-color: #c9c9cb;
}
.mainMiArte .fotos .guardaFotos img {
  object-fit: cover;
  width: 11%;
  height: auto;
}
.mainMiArte .fotos .grilla {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas: "im1 im2 im4 im4" "im1 im3 im4 im4";
}
.mainMiArte .fotos .grilla img {
  object-fit: cover;
}
.mainMiArte .fotos .grilla .im1 {
  grid-area: im1;
}
.mainMiArte .fotos .grilla .im2 {
  grid-area: im2;
}
.mainMiArte .fotos .grilla .im3 {
  grid-area: im3;
}
.mainMiArte .fotos .grilla .im4 {
  grid-area: im4;
}

/* ---- Responsives ---- */
@media (max-width: 480px) {
  .mainMiArte .encabezado {
    height: 50vh;
  }
  .mainMiArte h1 {
    color: #080808;
    font-weight: 900;
    font-size: 1.8rem;
    padding: 0 1rem;
    margin: 10px 0;
  }
  .mainMiArte .dibujos .dibujos1 {
    flex-direction: column-reverse;
  }
  .mainMiArte .dibujos .dibujos1 .izqDib1 {
    width: 100%;
  }
  .mainMiArte .dibujos .dibujos1 .izqDib1 h2 {
    color: #080808;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0;
    margin: 25px;
  }
  .mainMiArte .dibujos .dibujos1 .izqDib1 .grilla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
  .mainMiArte .cuadros {
    width: 100%;
  }
  .mainMiArte .cuadros .contenedorCuadros1 .cuadros1 figure {
    width: 0;
    padding: 0;
  }
  .mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha {
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  .mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    grid-template-areas: "im1 im1 ttl ttl" "im1 im1 im3 im4" "im2 im2 im5 im5" "im2 im2 im5 im5";
  }
  .mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla h2 {
    font-size: 1rem;
  }
  .mainMiArte .cuadros .cuadros2 {
    flex-direction: column;
  }
  .mainMiArte .cuadros .cuadros2 .compo {
    width: 85%;
    height: auto;
    margin: 50px auto;
  }
  .mainMiArte .cuadros .cuadros2 .compo .cuadroDetalle {
    width: 30%;
    height: auto;
  }
  .mainMiArte .cuadros .cuadros2 .cuadroCaballete {
    width: 85%;
    height: auto;
  }
  .mainMiArte .fotos .guardaFotos {
    flex-wrap: wrap;
  }
  .mainMiArte .fotos .guardaFotos img {
    object-fit: cover;
    width: 20%;
    height: auto;
  }
  .mainMiArte .fotos h2 {
    font-size: 1.2rem;
  }
  .mainMiArte .fotos .grilla {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 7px;
    grid-template-areas: "im1 im2" "im1 im3" "im4 im4" "im4 im4";
  }
}
@media (min-width: 481px) and (max-width: 1100px) {
  .mainMiArte .encabezado {
    height: 60vh;
  }
  .mainMiArte .dibujos .dibujos1 .izqDib1 {
    height: auto;
  }
  .mainMiArte .dibujos .dibujos1 picture {
    height: auto;
  }
  .mainMiArte .cuadros .contenedorCuadros1 .cuadros1 figure {
    width: 40%;
  }
  .mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha {
    width: 60%;
  }
  .mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla {
    width: 85%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    grid-template-areas: "im1 im1 ttl ttl" "im1 im1 im3 im4" "im2 im2 im5 im5" "im2 im2 im5 im5";
  }
  .mainMiArte .cuadros .contenedorCuadros1 .cuadros1 .derecha .grilla h2 {
    font-size: 1.2rem;
  }
}
/* ---- FOOTER ----*/
footer {
  background-color: #686A55;
  margin-block-end: 0;
}
footer ul {
  margin: 0;
}
footer ul .linkFooter {
  color: #FAFAF9;
  text-decoration: none;
  font-size: 1rem;
}
footer ul .linkFooter .logoFooter {
  width: 20px;
  height: 20px;
}

@media (max-width: 480px) {
  footer ul {
    margin: 0 auto;
    width: 50%;
  }
  footer ul .linkFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  footer ul .linkFooter i {
    height: 7px;
    width: 7px;
  }
}
/* ---- Videos de encabezado ----*/
#myVideo {
  right: 0;
  bottom: 0;
  width: 50%;
  height: 60vh;
}

main {
  width: 100%;
}

p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
}

b {
  color: #e8ca61;
  font-weight: 700;
}

/*# sourceMappingURL=estilos.css.map */
