
/* ---- FOOTER ----*/
footer{
    background-color: $axolotl;
    margin-block-end: 0;
    ul{
        margin: 0;
        .linkFooter{
            color: $lotion;
            text-decoration: none;
            font-size: 1rem;
            .logoFooter{
                width: map-get($sizes, 20);
                height: map-get($sizes, 20);      
            }
        }
    }
}

@media (max-width:480px) {
    footer{

        ul{
            margin: 0 auto;
            width: map-get($pct, 50);
            .linkFooter {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                i{
                    height: map-get($sizes, 7 );
                    width: map-get($sizes, 7);
                }
            }
        }
    }
}