/* ---- INDEX ----*/
.mainIndex{  
    background-color: $lotion;
    /* ---- Video de encabezado ----*/
    .video{
        background-color: $medium-champagne;
        object-fit: cover;
    }

    /* ---- grilla Sobre Mi ----*/
    .seccionSobreMi{
        width: map-get($pct, 75);


        .contenedorSobreMi{
            margin: map-get($sizes, 30) auto;
            flex-wrap: nowrap;
            flex-direction: row;
            
            .izquierdaSobreMi{
                width: map-get($pct, 45);
                justify-content: center;
                .tituloSobreMi{
                    border-bottom: map-get($sizes, 7) solid $jet;
                    font-weight: $titles-weight;
                    color: $jet;
                }
                picture{
                    .fotoSobreMi{
                        width:map-get($pct, 100);
                        height: auto;
                        object-fit: contain;
                    }
                }
            }
            
            .textoSobreMi{
                margin: 0 auto;
                margin-left: map-get($sizes, 20);
                width: map-get($pct, 45);
                height: auto;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }
        }
    }    
    
    /*---- Tarjetas ---- */
    .seccionTarjetas{
        background-color: $bright-gray;

        .contenedorTarjetas{
            

            width: map-get($pct, 85);
            transition: transform 1s;


            .Tarjetas{
                width: map-get($pct, 75);
                margin: map-get($sizes, 50) map-get($sizes, 50);
                border-radius: 16px 16px 16px 16px;
                
                &:hover{
                    transform: scale(1.1);
                }
            }
            

            
        }
        a {
            text-decoration: none;
            color: $jet;
        }
        h2 {
            font-weight: $b-weight;
            font-size: 1.7rem;
            color: $jet;
        }
    }
}

/* ---- Responsive ----*/
@media (max-width:480px){
    .mainIndex{
        #myVideo{
            width:map-get($pct, 100);
            height:map-get($pct, 100);
        }
        
        .seccionSobreMi{
            width: map-get($pct, 90);
            .contenedorSobreMi{
                flex-direction: column;
                .izquierdaSobreMi{
                    width: map-get($pct, 100);
                    .fotoSobreMi{
                        margin-bottom: map-get($sizes, 30);
                    }
                }
                
                .textoSobreMi{
                    width: map-get($pct, 100);
                    margin: 0 auto;
                }
            }
            
        }

        .seccionTarjetas{
            .contenedorTarjetas{
                flex-wrap: nowrap;
                flex-direction: column;
                padding-top: map-get($sizes, 50);
                width: map-get($pct, 85);
    
                .Tarjetas{
                    width: map-get($pct, 100);
                    margin: 0 auto;
                }
    
                h2{
                    font-size: 1.5rem;
                }
                
            }
        }
    }
}

@media (min-width: 481px) and (max-width:1100px) {
    /*----- MAIN -----*/
    .mainIndex{
        #myVideo{
            width:map-get($pct, 100);
            height:50vh;
        }

        .seccionSobreMi{
            width: map-get($pct, 75);
            .contenedorSobreMi{
                flex-direction: column;
                .izquierdaSobreMi{
                    width: map-get($pct, 100);
                    .fotoSobreMi{
                        margin-bottom: map-get($sizes, 30);
                    }
                }
                
                .textoSobreMi{
                    width: map-get($pct, 100);
                    margin: 0 auto;
                }
            }
            
        }

        .seccionTarjetas{
            .contenedorTarjetas{
                flex-wrap: nowrap;
                flex-direction: column;
                padding-top: map-get($sizes, 50);
                width: map-get($pct, 75);
                .Tarjetas{
                    
                    width: map-get($pct, 100);
                    margin: 0 auto;
                    a{
                        display: flex;
                        flex-direction: row;
                        img{
                            width: map-get($pct, 50); 
                        }
                        .textoTarjeta{
                            width: map-get($pct, 50);
                            h2{
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
    
                
            }
        }
    }
}


