/* ---- Videos de encabezado ----*/
#myVideo {
    right:0;
    bottom:0;
    width: 50%;
    height: 60vh;
}


main{
    width: 100%;
}

p{
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
}

b{
    color: $arylide-yellow;
    font-weight: $b-weight;
}

